<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title class="hdr">पासवर्ड बदलें</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-row class="ion-margin">
    <ion-col size="12">
      <ion-item transparent>
        <ion-label class="mrt">वर्तमान पासवर्ड</ion-label>
        <ion-input [(ngModel)]="curPassword" placeholder="वर्तमान पासवर्ड डालें" type="Password" autofocus="true"
          required clearInput></ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-label class="mrt">नया पासवर्ड</ion-label>
        <ion-input [(ngModel)]="newPassword" placeholder="नया पासवर्ड डालें" type="Password" clearInput required>
        </ion-input>
      </ion-item>
      <ion-item transparent>
        <ion-label class="mrt">पासवर्ड की पुष्टि करें</ion-label>
        <ion-input [(ngModel)]="confirmPassword" placeholder="पासवर्ड की पुष्टि करें" type="Password" clearInput
          required>
        </ion-input>
      </ion-item>
      <!-- <ion-label style="text-align: left;"><ion-checkbox checked="true"></ion-checkbox> <span>उपयोगकर्ता की पहचान याद रखें !</span></ion-label> -->

      <div linespace></div>
      <ion-label class="forget-password"> किसान का पहला पासवर्ड - बैंक खाते के आखिरी चार अंक </ion-label>

      <div linespace></div>
      <ion-row style="text-align-last:center;">
        <div class="col-4">
          <ion-button color="primary" center style="width: 95px;" (click)="UpdatePassword()">पासवर्ड बदले
            <ion-icon name="arrow-forward-outline"></ion-icon>
          </ion-button>
        </div>

      </ion-row>

    </ion-col>
  </ion-row>
</ion-content>
